@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  html {
    background-color: #F8FAFC;
  }

  body {
    @apply min-w-[320px] min-h-[100dvh] m-0 bg-background text-foreground;
    background-color: #F8FAFC;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
  }

  
  .font-title {
    font-family: 'Space Grotesk', sans-serif;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

/* Markdown List Styling */
.prose ul {
  list-style-type: disc;
  padding-left: 1em;
  margin: 0.6em 0;
}

.prose ul ul {
  padding-left: 1em;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 0.75em;
  margin: 0.6em 0;
}

.prose ol ol {
  padding-left: 0.75em;
}

.prose li {
  margin: 0.25em 0.25em;
}

.prose li::marker {
  color: oklch(0.704 0.04 256.788); /* text-slate-400 */
  padding-left: 1.5rem;
}

.prose p {
  margin: 0.6em 0;
}

.prose strong {
  font-weight: 600;
}

.prose em {
  font-style: italic;
}

.shiny-text {
  color: #b5b5b5a4;
  /* Adjust this color to change intensity/style */
  background: linear-gradient(120deg,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.8) 50%,
      rgba(0, 0, 0, 0) 70%);
  background-size: 200% 500%;
  background-position: 0% center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0,0,0,0.4);
  background-clip: text;
  display: inline-block;
  line-height: 1.2;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100% center;
  }

  100% {
    background-position: -100% center;
  }
}

.shiny-text.pulse {
  animation: shine 8s linear infinite;
}

.shiny-text.disabled {
  animation: none;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}